body{
	font-family:Candara;
	color: #ffffff;
	margin-left:10%;
	margin-right:10%;
	margin-top:2.09%;
	background: -webkit-linear-gradient(135deg, #62008c, #000000) no-repeat;
}

.upside{
	left:0;
	margin-bottom:0%;
}

.middle-part{
	position: relative;
	margin:1%;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  transition: all 3s;
}

.circle img {
  position: relative;
  bottom:0px;
  right:10%;
  height:100%;
}

.circle:hover{
	-webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.btn{
	margin-bottom:5%;
}

.nomePrincipal h1{
	
	font-size:40pt;
	text-align: left;
	position:relative;	
}




.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
